.scrollbar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;

  .inner {
    height: 100%;
    position: relative;
  }

  .thumb {
    min-height: 80px;
    width: 8px;
    background-color: $main-blue;
    position: absolute;
    right: 0.2vw;
    border-radius: 0;
    cursor: grab;
  }
}
