@import "../app/styles/variables.scss";

.main{
    height: 700vh;
    background-color: $main-black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height: 100%;
    }
}

.hero {
    height: 130svh;
    width: 98vw;
    position: absolute;
    top: 0;
}

.earth {
    position: fixed;
    inset: 0;
    height: 100vh;
}